name: Build Android APK

on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission to gradlew
        run: chmod +x gradlew
        working-directory: apps/android

      - name: Build Debug APK
        run: ./gradlew assembleDebug
        working-directory: apps/android

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: apps/android/app/build/outputs/apk/debug/app-debug.apk
